/*GLOBAL SETTING
----------------------------------------
*/

body {
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #211d1c;
	margin: 0;
}
#wrapper {
	position: relative;
	width: 1600px; 
	margin: 0 auto;
}

h2 {
	font-size: 1.8em;
	font-weight: 350;
    
    
    
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
}
h4 {
	font-size: 1.3em;
    font-weight: 10;
}


a { /* color of links */
	color: #225c71; /* dark teal */
}

a:visited {
	color: #5A7E4A; /* dark green */
} 

 /* Nav and Logo
----------------------------------------
*/
header  {
	background: #ffffff; /* pink/ main image banner */ 
    height: 76px;
    color: #5A7E4A;/* dark green */
    
}

header h1 { 
 visibility: hidden;
}
header img { /* position of logo */
    position: relative;
    top: 0px; left: 20px; 
    z-index: 7; 
}


  /* TOP BANNER
----------------------------------------
*/      

.banner {
     background: #C7F0B5; 
    
}

.banner__content {
    margin: 0 auto;
    padding: 10px;
    max-height: 16px;
    text-align: center; 
    font-size: 16px; 
    color:darkgreen;
    margin-left: 60px;

}

/* NAVIGATION
----------------------------------------
*/
nav {
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    padding-left: 480px;
    list-style: none;
}

nav li {
    display: inline;
    font-size: 20px;
}

nav a {
    color: darkgreen;
    text-decoration: none;
    padding: 10px 50px 15px 10px;
    font-size: 20px;
}

nav a:visited {
    color: darkgreen;
}

nav a:hover {
    background-color: darkgreen;
    color: white;
}

nav span {
    padding: 15px 20px;
    background-color: #C7F0B5;
    color: #ffffff;
}
/* HEADER image
----------------------------------------
*/ 
.Main {
    height: 680px; /* Set the height of the header */
    background-color:#f0ecfc;
    position: relative;
    
    
}

.Main img {
    position: absolute; 
    
    right: 0;
    bottom: 0px;
    top: 0px;
    width: 925px;
    height: 100%;
}

.Main h2{
    padding-left: 50px;
    padding-top: 550px;
}

.Main p{
    padding-left: 50px;
    
}

/* products section
----------------------------------------
*/ 

#shop-eco {
    text-align: center;
    color:black;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px; 
    display: flex;
    justify-content: center; /* Center items horizontally */
    padding-right: 10px;
    background-color:#ffffff;
}

.item {
    margin: 50px;
    text-align: center;
}

.item img {
    display:block;
}

.item p {
    margin-top: 5px;
}


 


/* FOOTER BANNER
----------------------------------------
*/      

.Footer_banner {
     background-color:#fef7e7; 
    
}

.Fbanner__content {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 110px;
    padding-left: 110px;
    max-height: 300px;
    text-align: center; 
    font-size: 16px; 
    color:darkgreen;

}

 /* footer
----------------------------------------
*/

footer {
    background-color:#E5E4E2; /* light grey */
    color:black; /* Text color for the footer */
    padding-left: 180px; /* Padding around the footer content */
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    margin: 10px 0; /* Margin between paragraphs */
}

footer a {
    color:darkgreen; /* Link color */
    text-decoration:none; /* Remove underline from links */
    margin-right: 530px; /* Margin between links */
}

address {
    margin-top: 50px; /* Margin between address and other footer content */
}

address a {
    color:darkgreen; /* Link color within the address */
    text-decoration: underline; /* Remove underline from links within the address */
}

